/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap'); */


.containers{
    width: 100%;
    min-height: 100vh;
    padding: 1% 8% 0% 3%;
    overflow: hidden;
    background:#4D38CD;
    /* background-size: cover; */
    box-sizing: border-box ;

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}


#name{
    color: white;
    margin-left: 20px;
}

nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right:30px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
nav ul li a:hover{
    color: rgb(253, 7, 40);
    
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px  1px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
